{{#section "styles"}}
    <link rel="stylesheet" href="/css/home.css">
{{/section}}

<div class="container">

    <h1>Dashboard</h1>
     <a href="/auth/logout" class="btn-logout">Cerrar sesi贸n</a> 

     <h2>Generar un nuevo QR</h2>  
     <form id="qrForm" class="form-qr">
        <input type="text" id="tagInput" name="tag" placeholder="Nombre del QR" required>
        <input type="text" id="urlInput" name="url" placeholder="Ingrese la URL" required>
        <button type="submit" class="btn-generate">Generar QR</button>
    </form>

    <h2>Lista de C贸digos QR</h2>

     <a href="/qr/track" class="btn-track"> Ver Seguimiento de Clics</a>

     <div class="qr-container">

    {{#each qrs}}
    <div class="qr-item">
        <h3>{{this.tag}}</h3> <!-- Mostrar el nombre del QR -->   
        <div id="qr-{{this._id}}">{{{this.qrCode}}}</div> <!-- Mostrar el QR -->
        <p><strong>URL:</strong> <br><a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
        <p><strong>Escaneos:</strong> {{this.scans}}</p>

        <input type="text" id="edit-url-{{this._id}}" placeholder="Nueva URL" class="input-newurl"> <!-- Formulario para editar la URL -->
        <button onclick="editarQR('{{this._id}}')" class="btn-update">Actualizar</button>

        <!-- Bot贸n para eliminar el QR -->
        <form class="delete-form" action="/qr/delete?id={{this._id}}" method="POST">
            <button type="submit" class="btn-delete">Eliminar</button>
        </form>
                <!-- Bot贸n para descargar el QR -->
        <button onclick="descargarQR('{{this._id}}')" class="btn-download">Descargar SVG</button>
    </div>
    {{/each}}
</div>
   

</div>

<script src="./script.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>