<section>
<a href="/auth/logout">Cerrar sesi贸n</a>
</section>
<section>
    <h2>Generar un nuevo QR</h2>
    <form id="qrForm">
        <input type="text" id="tagInput" name="tag" placeholder="Nombre del QR" required>
        <input type="text" id="urlInput" name="url" placeholder="Ingrese la URL" required>

        <button type="submit">Generar QR</button>
    </form>
</section>

<section>
    <h2>Lista de C贸digos QR</h2>
    {{#each qrs}}
    <div class="qr-item">
        <h3>{{this.tag}}</h3> <!-- Mostrar el nombre del QR -->
        <!-- Mostrar el QR -->
        <!-- Bot贸n para descargar el QR -->
        <button onclick="descargarQR('{{this._id}}')">Descargar SVG</button>
        <div id="qr-{{this._id}}">{{{this.qrCode}}}</div>

        <p><strong>URL:</strong> <a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
        <p><strong>Escaneos:</strong> {{this.scans}}</p>



        <!-- Formulario para editar la URL -->
        <input type="text" id="edit-url-{{this._id}}" placeholder="Nueva URL">
        <button onclick="editarQR('{{this._id}}')">Actualizar</button>

        <!-- Bot贸n para eliminar el QR -->
        <form class="delete-form" action="/qr/delete?id={{this._id}}" method="POST">
            <button type="submit">Eliminar</button>
        </form>
    </div>
    {{/each}}
</section>
<section>
    <a href="/qr/track"> Ver Seguimiento de Clics</a>
</section>